html{
    background-color: rgb(211, 234, 255);
}
nav{
    background-color: rgb(8, 0, 39);
}
a:hover{
    color: rgb(188, 205, 221);
}
nav img{
    height: 3em;
    vertical-align: middle;
}